/* can define stylings for the same element at multiple places. so you can abstract similarities across selectors into a rule set. define them individually later */
h1,
h2,
p {
    font-family:Helvetica, sans-serif;
}

/* h1-h6 can take a background-image attribute. don't need to do it via a wrapping it in header.  */
h1 {
    font-size: 100px;
    font-weight:bold;
    color: khaki;
    text-align:center;
    background-image: url("./media/images/pattern.jpeg");
}

header h2 {
    font-size:32px;
    font-weight:bold;
    color: white;
}

#brushes{
    background-color: mediumspringgreen;
}

#frames{
    background-color: lightcoral;
}

#paint{
    background-color:skyblue;
}

.pricing {
    font-weight:bold;
    color:blue;
}

figure {
    margin-left:0px;
}